.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 85px);   
  background-color: #f9f9f9;
  
}

.signup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.signup label {
  font-size: 14px;
  margin-bottom: 3px;
}

.signup input {
  padding: 8px;
  border: 1px solid #949494;
  border-radius: 4px;
}

.signup button {
  margin-top: 10px;
  padding: 10px;
  background: #55f516; 
  color: black;
  border: none;
  border-radius: 4px;
}

.signup button:hover {
  background: #2ec510; 
}
